@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --sans: "DM Sans", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-family: var(--sans);
  color: #333333;
}
.blog-card {
  width: 36rem;
  height: 200px;
  margin: 10px auto;
  border: none;
  transition: box-shadow ease 0.3s;
  border-radius: 10px;
}
.blog-body {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
}
.blog-details {
  text-align: left;
  margin-left: 15px;
}
.blog-image {
  min-height: 170px;
  width: 170px;
  object-fit: cover;
  float: left;
  border-radius: 10px;
}

.blog {
  top: 0;
  height: 100vh;
}
.blog-container {
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.blog-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.blog-filter-container {
  display: flex;
  padding-top: 8px;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.blog-filter-container h4 {
  line-height: 38px;
  font-size: 16px;
}
.blog-filter-container button {
  width: 100px;
  margin-left: 1rem;
  background-color: #2962ff;
  font-size: 16px;
}
.header {
  position: fixed;
  z-index: 3;
  background: white;
}
.header-links {
  color: #7599fc;
  margin: 0 20px;
  font-size: 14px;
}
.header-links div {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}
.header-link:hover {
  color: #2962ff;
}
.header-link {
  color: #7599fc;
  text-decoration: none;
}
.header-logo-link {
  color: #2962ff;
  text-decoration: none;
}
.header-logo-link:hover {
  color: #2962ff;
}
.header-info {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-info h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #2962ff;
  margin: 0;
}
.home-components {
  flex-grow: 3;
}
.blog-toggle {
  position: fixed;
  float: left;
  top: 50%;
  margin-left: -30px;
  transform: rotate(270deg);
  font-size: 22px;
}
.intro {
  margin: 30px auto;
  width: 70%;
  font-size: 3.4vw;
  font-weight: 900;
}
.self {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #2962ff;
  margin: 0 auto;
  background-image: url("https://i.imgur.com/zvhAEfM.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  height: 40px;
}
@media screen and (max-width: 900px) {
  .intro {
    font-size: 26px;
    width: 90%;
  }
}
